<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="DiscordSettings" type="CheckStock.DiscordSettings, CheckStock" />
		<section name="PollingUrlSettings" type="CheckStock.PollingUrlSettings, CheckStock" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="ChromePath" value="C:\Program Files\Google\Chrome\Application\chrome.exe"/>
	</appSettings>
	<DiscordSettings BotToken="YOUR_BOT_TOKEN" GuildId="YOUR_GUILD_ID">
		<UserIds>
			<add value="USER_ID_1" />
			<add value="USER_ID_2" />
		</UserIds>
	</DiscordSettings>
	<PollingUrlSettings>
		<Urls>
			<add url="https://example.com/page1" cssSelector=".no-border" />
		</Urls>
	</PollingUrlSettings>
</configuration>
